th, td {
  padding: 0.2em 1em;
  text-align: left;
}

th a, td a {
  display: inline-block;
  min-width: 5em;
  width: 100%;
}

thead tr,
tbody tr:nth-child(even) {
  background-color: #ddd;
}

h1:not(:first-of-type) {
  margin-top: 1em;
}
